<BootstrapBlazorRoot>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <PageTitle>Title</PageTitle>
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p> 正在玩命开发中 ...</p>
            </LayoutView>
        </NotFound>
    </Router>
</BootstrapBlazorRoot>

<Reconnector>
    <ReconnectingTemplate>
        <div class="connection-mask"></div>
        <div class="connection-body">
            <div class="container">
                <div class="row g-3">
                    <div class="col-12 col-sm-10">
                        <div class="mb-3 text-warning">
                            <h5>正在尝试重新连接服务器</h5>
                        </div>
                        <div class="mb-2">服务器可能正在更新新版本，稍等一会儿即可提供服务，或者 <kbd>F12</kbd> 打开 <b>Developer tools</b> 查看 <b>控制台</b> 是否有错误输出</div>
                    </div>
                    <div class="col-12 col-sm-2">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <a href="javascript:window.Blazor.reconnect()" class="btn btn-primary">重新连接</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ReconnectingTemplate>
    <ReconnectFailedTemplate>
        <div class="connection-mask"></div>
        <div class="connection-body">
            <div class="container">
                <div class="row g-3">
                    <div class="col-12 col-sm-10">
                        <div class="mb-3 text-danger">
                            <h5>与服务器连接失败</h5>
                        </div>
                        <div class="mb-2">请确认网络是否正常，或者 <kbd>F12</kbd> 打开 <b>Developer tools</b> 查看 <b>控制台</b> 是否有错误输出</div>
                    </div>
                    <div class="col-12 col-sm-2">
                        <div class="d-flex flex-column align-items-center justify-content-center h-100">
                            <a href="javascript:window.Blazor.reconnect()" class="btn btn-primary mb-2">重新连接</a>
                            <a href="javascript:location.reload()" class="btn btn-info">重新加载</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ReconnectFailedTemplate>
    <ReconnectRejectedTemplate>
        <div class="connection-mask"></div>
        <div class="connection-body">
            <div class="container">
                <div class="row g-3">
                    <div class="col-12 col-sm-10">
                        <div class="mb-3 text-danger">
                            <h5>服务器拒绝连接</h5>
                        </div>
                        <div class="mb-2">所有的连接尝试都被拒绝了，这很有可能是由于网络问题或者服务器问题引起的</div>
                    </div>
                    <div class="col-12 col-sm-2">
                        <div class="d-flex flex-column align-items-center justify-content-center h-100">
                            <a href="javascript:location.reload()" class="btn btn-info">重新加载</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ReconnectRejectedTemplate>
</Reconnector>
