@page "/ServiceClusters/Edit/{Id:guid?}"
@using NetNet.Gateway.Dtos.ServiceClusters.Requests

<Breadcrumb Value="@BreadcrumbItems"/>

<ValidateForm Model="@_input" OnValidSubmit="@OnValidSubmit">
    <div class="container-fluid pt-2">
        <div class="row pb-3">
            <div class="col-12 col-sm-8">
                <div class="gw-section-header mb-3">基础信息</div>
                <div class="row g-3 pb-4">
                    <div class="col-12">
                        <BootstrapInput @bind-Value="@_input.Name" DisplayText="服务名称" PlaceHolder="请填写服务名称"/>
                    </div>

                    <div class="col-12">
                        <Select @bind-Value="@_input.LoadBalancingPolicy"
                                DisplayText="负载均衡策略" PlaceHolder="选择一个负载均衡策略">
                            <Options>
                                <SelectOption Text="请选择"/>
                                <SelectOption Text="FirstAlphabetical" Value="FirstAlphabetical"/>
                                <SelectOption Text="Random" Value="Random"/>
                                <SelectOption Text="PowerOfTwoChoices" Value="PowerOfTwoChoices"/>
                                <SelectOption Text="RoundRobin" Value="RoundRobin"/>
                                <SelectOption Text="LeastRequests" Value="LeastRequests"/>
                            </Options>
                        </Select>
                    </div>
                </div>

                <div class="row justify-content-between m-0">
                    <div class="gw-section-header mb-3 col">服务终点</div>

                    <div class="col" style="text-align: right">
                        <Button style="width: auto" Size="Size.ExtraSmall" OnClick="() => DestinationTable.AddAsync()"
                                Icon="fas fa-add" Text="添加">
                        </Button>
                    </div>
                </div>
                <div class="row pb-4">
                    <div>
                        <Table TItem="@InputServiceDestinationReq" @bind-Items="@_input.Destinations" EditMode="EditMode.EditForm"
                               ShowExtendButtons="true" ShowRefresh="false" ShowToastAfterSaveOrDeleteModel="false"
                               @ref="DestinationTable" ShowEmpty="true" EmptyText="请添加服务终点" IsTracking="true">
                            <TableColumns>
                                <TableColumn @bind-Field="context.Key" Text="终点名称"></TableColumn>
                                <TableColumn @bind-Field="context.Address" Text="终点地址"></TableColumn>
                                <TableColumn @bind-Field="context.Health" Text="健康检查地址"></TableColumn>
                            </TableColumns>
                        </Table>
                    </div>
                </div>

                <div class="gw-section-header mb-3">健康检查</div>
                <div class="row pb-4 g-3">
                    <div class="col-12">
                        <BootstrapInput @bind-Value="@_input.HealthCheckConfig.AvailableDestinationsPolicy" DisplayText="终点可用性策略"></BootstrapInput>
                    </div>
                    <div class="row g-3 col-12">
                        <div class="col-12 col-sm-6">
                            <NullSwitch @bind-Value="@_input.HealthCheckConfig.Active.Enabled" DisplayText="启用主动健康检查" OnText="启用" OffText="禁用"
                                        OnColor="Color.Primary">
                            </NullSwitch>
                        </div>
                        <Block Condition="@(_input.HealthCheckConfig.Active.Enabled == true)">
                            <div class="row g-3 mt-0">
                                <div class="col-12">
                                    <BootstrapInput @bind-Value="@_input.HealthCheckConfig.Active.Policy" DisplayText="健康检测策略"></BootstrapInput>
                                </div>
                                <div class="col-12">
                                    <BootstrapInput @bind-Value="@_input.HealthCheckConfig.Active.Path" DisplayText="路径"></BootstrapInput>
                                </div>
                                <div class="col-6 col-sm-6">
                                    <BootstrapInputNumber @bind-Value="@_input.HealthCheckConfig.Active.IntervalSeconds" DisplayText="间隔秒数"></BootstrapInputNumber>
                                </div>
                                <div class="col-6 col-sm-6">
                                    <BootstrapInputNumber @bind-Value="@_input.HealthCheckConfig.Active.TimeoutSeconds" DisplayText="超时秒数"></BootstrapInputNumber>
                                </div>
                            </div>
                        </Block>
                    </div>
                    <div class="row g-3 col-12">
                        <div class="col-12 col-sm-6">
                            <NullSwitch @bind-Value="@_input.HealthCheckConfig.Passive.Enabled" DisplayText="启用被动健康检查" OnText="启用" OffText="禁用"
                                        OnColor="Color.Primary">
                            </NullSwitch>
                        </div>
                        <Block Condition="@(_input.HealthCheckConfig.Passive.Enabled == true)">
                            <div class="row g-3 mt-0">
                                <div class="col-12 col-sm-6">
                                    <BootstrapInput @bind-Value="@_input.HealthCheckConfig.Passive.Policy" DisplayText="健康检测策略"></BootstrapInput>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <BootstrapInputNumber @bind-Value="@_input.HealthCheckConfig.Passive.ReactivationPeriodSeconds"
                                                          DisplayText="重新激活周期（秒）">
                                    </BootstrapInputNumber>
                                </div>
                            </div>
                        </Block>
                    </div>
                </div>

                <div class="gw-section-header mb-3">HTTP请求配置</div>
                <div class="row pb-4 g-3">
                    <div class="col-12 col-sm-6">
                        <Select @bind-Value="@_input.HttpRequestConfig.Version" Items="HttpVersionSelections"
                                DisplayText="Http版本">
                        </Select>
                    </div>
                    <div class="col-12 col-sm-6">
                        <Select @bind-Value="@_input.HttpRequestConfig.VersionPolicy"
                                DisplayText="Http版本策略">
                        </Select>
                    </div>
                    <div class="col-12 col-sm-6">
                        <BootstrapInputNumber @bind-Value="@_input.HttpRequestConfig.ActivityTimeoutSeconds"
                                              DisplayText="超时秒数">
                        </BootstrapInputNumber>
                    </div>
                    <div class="col-12 col-sm-6">
                        <NullSwitch @bind-Value="@_input.HttpRequestConfig.AllowResponseBuffering"
                                    DisplayText="允许响应缓冲">
                        </NullSwitch>
                    </div>
                </div>

                <div class="gw-section-header mb-3">HTTP客户端配置</div>
                <div class="row pb-4 g-3">
                    <div class="col-12 col-sm-4">
                        <Select @bind-Value="@_input.HttpClientConfig.SslProtocols"
                                DisplayText="TLS协议">
                        </Select>
                    </div>
                    <div class="col-12 col-sm-4">
                        <BootstrapInput @bind-Value="@_input.HttpClientConfig.RequestHeaderEncoding"
                                        DisplayText="请求头编码">
                        </BootstrapInput>
                    </div>
                    <div class="col-12 col-sm-4">
                        <BootstrapInputNumber @bind-Value="@_input.HttpClientConfig.MaxConnectionsPerServer"
                                              DisplayText="最大连接数">
                        </BootstrapInputNumber>
                    </div>
                    <div class="col-12 col-sm-4">
                        <NullSwitch @bind-Value="@_input.HttpClientConfig.EnableMultipleHttp2Connections"
                                    DisplayText="是否建立HTTP/2连接">
                        </NullSwitch>
                    </div>
                    <div class="col-12 col-sm-4">
                        <NullSwitch @bind-Value="@_input.HttpClientConfig.DangerousAcceptAnyServerCertificate"
                                    DisplayText="是否忽略HTTPS证书错误">
                        </NullSwitch>
                    </div>
                </div>

                <div class="row justify-content-between m-0">
                    <div class="gw-section-header mb-3 col">Swagger</div>

                    <div class="col" style="text-align: right">
                        <Switch AdditionalAttributes="@(new Dictionary<string, object> { { "class", "w-auto p-0" } })"
                                @bind-Value="@_input.SwaggerConfig.Enabled"
                                ShowLabel="false" OnColor="Color.Primary">
                        </Switch>
                    </div>
                </div>
                <div class="row pb-4 g-3">
                    <Block Condition="_input.SwaggerConfig.Enabled">
                        <Authorized>
                            <div class="col-12">
                                <BootstrapInput @bind-Value="_input.SwaggerConfig.DocName" DisplayText="文档显示名"
                                                PlaceHolder="服务在 Swagger 中显示的名称"></BootstrapInput>
                            </div>
                            <div class="col-12">
                                <BootstrapInput @bind-Value="_input.SwaggerConfig.JsonUrl" DisplayText="Swagger Json路径"
                                                PlaceHolder="自动生成的 Swagger Json 文件地址（完整路径）"></BootstrapInput>
                            </div>
                        </Authorized>

                        <NotAuthorized>
                            <p class="text-center secondary"><small>不启用Swagger文档</small></p>
                        </NotAuthorized>
                    </Block>
                </div>
            </div>
        </div>

        <div class="row g-3 align-items-center sticky-bottom bg-white">
            <div class="col-12 col-sm-8 m-0 pt-3 pb-3 border-top">
                <Button Color="Color.Primary" ButtonType="ButtonType.Submit" Icon="fa-fw fa-solid fa-floppy-disk" Text="保存" IsAsync="true"></Button>
            </div>
        </div>
    </div>
</ValidateForm>
