<div class="@ContainerClassString">
    <div class="gw-badge-content">
        <div class="@LeftClassString">@LeftText</div>
        <div class="@RightClassString">@RightText</div>
    </div>
</div>

@code {

    [Parameter]
    public string? LeftText { get; set; }

    [Parameter]
    public string? RightText { get; set; }

    [Parameter]
    public Color LeftColor { get; set; } = Color.Primary;

    [Parameter]
    public Color RightColor { get; set; } = Color.Secondary;

    [Parameter]
    public Size Size { get; set; } = Size.ExtraSmall;

    [Parameter]
    public string? AdditionalClass { get; set; }

    private string? ContainerClassString => CssBuilder.Default("gw-badge-container")
        .AddClass(Size.ToDescriptionString(), Size != 0)
        .AddClass(AdditionalClass)
        .Build();


    private string? LeftClassString => CssBuilder.Default("gw-badge gw-badge-left")
        .AddClass("bg-" + LeftColor.ToDescriptionString(), LeftColor != 0)
        .Build();


    private string? RightClassString => CssBuilder.Default("gw-badge gw-badge-left")
        .AddClass("bg-" + RightColor.ToDescriptionString(), LeftColor != 0)
        .Build();

}
