@using NetNet.Gateway.Distributed.Models


<Card>
    <BodyTemplate>
        <h5 class="text-truncate mb-3" title="@ServerNode.NodeId">@ServerNode.NodeId</h5>
        <p>启动时间: <time class="text-muted">@ServerNode.StartedAt</time></p>
        <p>心跳时间: <time class="text-muted">@ServerNode.Heartbeat</time></p>
        <div class="d-flex">
            <Badge Color="@GetServerNodeBadgeColor()">@ServerNode.NodeType</Badge>
        </div>
    </BodyTemplate>
</Card>


@code {

    [Parameter]
    public ServerNode ServerNode { get; set; } = new();

    private Color GetServerNodeBadgeColor() => ServerNode.NodeType switch
    {
        YarpNodeType.Admin => Color.Info,
        YarpNodeType.Ingress => Color.Success,
        _ => Color.Secondary
        };

}
