@page "/ServiceRoutes/Edit/{id:guid?}"
@using NetNet.Gateway.Dtos.ServiceRoutes
@using Yarp.ReverseProxy.Configuration

<Breadcrumb Value="@_breadcrumbItems"/>

<ValidateForm Model="@_input" OnValidSubmit="@OnSubmit">
    <div class="container-fluid pt-2">
        <div class="row">
            <div class="col-12 col-sm-8">
                <div class="gw-section-header mb-3">基本信息</div>
                <div class="row g-3 pb-4">
                    <div class="col-12 col-md-8">
                        <BootstrapInput @bind-Value="@_input.Name" DisplayText="路由名称" PlaceHolder="路由名称（要求唯一）"></BootstrapInput>
                    </div>

                    <div class="col-12 col-md-4">
                        <Select Items="@_serviceClusterSelections" @bind-Value="@_input.ServiceClusterId" DisplayText="服务"></Select>
                    </div>
                    <div class="col-12 col-md-4">
                        <BootstrapInput @bind-Value="@_input.AuthorizationPolicy" DisplayText="授权策略" PlaceHolder="例如：Default/Anonymous"></BootstrapInput>
                    </div>
                    <div class="col-12 col-md-4">
                        <BootstrapInput @bind-Value="@_input.CorsPolicy" DisplayText="跨域策略" PlaceHolder="例如：Default/Disable"></BootstrapInput>
                    </div>
                    <div class="col-12 col-md-4">
                        <BootstrapInputNumber @bind-Value="@_input.Order" DisplayText="排序" PlaceHolder="路由优先级，正序排列"></BootstrapInputNumber>
                    </div>
                </div>

                <div class="gw-section-header mb-3">匹配规则</div>
                <div class="row pb-4 g-3">
                    <div class="col-12">
                        <ServiceRouteMatchTable TItem="ServiceRouteMatchBase<HeaderMatchMode>" TMatchMode="HeaderMatchMode"
                                                Text="请求头" @bind-Items="@_input.MatchHeaders">
                        </ServiceRouteMatchTable>
                    </div>
                    <div class="col-12">
                        <BootstrapInput @bind-Value="@_input.MatchHosts" DisplayText="请求主机" PlaceHolder="主机地址"></BootstrapInput>
                    </div>
                    <div class="col-12">
                        <MultiSelect DisplayText="请求方法" PlaceHolder="选择匹配的Http方法" Items="@HttpMethodSelectItems" @bind-Value="@_input.MatchMethods"/>
                    </div>
                    <div class="col-12">
                        <BootstrapInput @bind-Value="@_input.MatchPath" DisplayText="请求路径" PlaceHolder="路由匹配规则 例如：/something/{**remainder}"></BootstrapInput>
                    </div>
                    <div class="col-12">
                        <ServiceRouteMatchTable TItem="ServiceRouteMatchBase<QueryParameterMatchMode>" TMatchMode="QueryParameterMatchMode"
                                                Text="请求参数" @bind-Items="@_input.MatchQueryParameters">
                        </ServiceRouteMatchTable>
                    </div>
                </div>

                <div class="row justify-content-between m-0">
                    <div class="gw-section-header mb-3 col">请求转换</div>

                    <div class="col" style="text-align: right">
                        <Button Size="Size.ExtraSmall" OnClick="() => OnEditTransform()"
                                Icon="fas fa-add" Text="添加">
                        </Button>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-12">
                        @if (_input.Transforms.Any())
                        {
                            foreach (var transforms in _input.Transforms)
                            {
                                <div class="transform-group p-2 mb-2">
                                    <div class="row g-0">
                                        <div class="col-11 justify-content-center">
                                            @foreach (var transform in transforms.Value)
                                            {
                                                <CapsuleBadge Size="Size.Small" LeftColor="Color.Success" AdditionalClass="m-1"
                                                              LeftText="@transform.Key" RightText="@transform.Value"/>
                                            }
                                        </div>
                                        <div class="col-1 row g-0 justify-content-end align-items-center">
                                            <Button Size="Size.Small" Color="Color.None" IsAsync="true"
                                                    IsOutline="true" Icon="fas fa-pen" OnClick="() => OnEditTransform(transforms.Key)">
                                            </Button>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="text-center">无数据</div>
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <Button Color="Color.Primary" ButtonType="ButtonType.Submit" Icon="fa-fw fa-solid fa-floppy-disk" Text="保存" IsAsync="true"></Button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ValidateForm>

<Modal @ref="EditTransformModal" OnCloseAsync="@OnEditTransformModalCloseAsync">
    <ModalDialog IsCentered="true" ShowSaveButton="true" Size="Size.Large"
                 Title="请求转换配置" OnSaveAsync="@OnSaveTransform">
        <BodyTemplate>
            <div class="row justify-content-between">
                <div class="col">
                </div>
                <div class="col" style="text-align: right">
                    <Button Size="Size.ExtraSmall" OnClick="() => TransformTable.AddAsync()"
                            Icon="fas fa-add" Text="添加项">
                    </Button>
                </div>
            </div>
            <Table @ref="TransformTable" TItem="ServiceRouteTransformDto" @bind-Items="@_selectedTransforms" IsTracking="true"
                   EditMode="EditMode.InCell" ShowExtendButtons="true" ShowToastAfterSaveOrDeleteModel="false">
                <TableColumns>
                    <TableColumn @bind-Field="context.Key"></TableColumn>
                    <TableColumn @bind-Field="context.Value"></TableColumn>
                </TableColumns>
            </Table>
        </BodyTemplate>
    </ModalDialog>
</Modal>
